.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
    justify-content:center;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 50px;
    margin-top: 50px;
}

.search {
    margin: 25px;
}

.filter {
    margin-top: 50px;
    justify-content:left;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.filter span, .sort span {
    font-size: 22px;
}

.sort {
    margin-top: -50px;
    justify-content:right;
    display: grid;
    grid-template-columns: 100px 100px;
}

.img {
    width: auto;
    height: 150px;
}